<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>外国語発音チェック</title>
    <script>
        function toggleOptions() {
            var choice = document.getElementById("choice").value;
            document.getElementById("userText").style.display = (choice === "Yes") ? "block" : "none";
        }
    </script>
</head>
<body>
    <h2>外国語発音チェック</h2>
    <form action="/trans" method="post">
        <!-- 言語選択 -->
        <label for="language">チェックする言語:</label>
        <select name="language">
            <option value="韓国語">韓国語</option>
            <option value="英語">英語</option>
        </select>
        <br>


        <!-- 自分の文章を使うか選択 --> <!--新：自分のテキストを使う場合、該当箇所コピペ入力ではなく、該当ファイルをドラッグ、練習したい言語のテキストのみ取り出す方法にしたい-->>
        <label for="choice">自分の文章を使いますか?</label>
        <select id="choice" name="choice" onchange="toggleOptions()">
            <option value="No">No</option>
            <option value="Yes">Yes</option>
        </select>
        <br>

        <!-- 自分の文章を入力欄 -->
        <div id="userText" style="display: none;">
            <label for="raw_text">文章を入力:</label>
            <textarea name="raw_text"></textarea>
        </div>
        <br>

        <!-- 録音時間の設定 -->
        <label for="record_time">録音まで（秒）:</label>
        <input type="number" name="record_time" min="5" max="30" value="10">

        <br>
        <button type="submit">診断開始</button>
    </form>
</body>
</html>